<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>

    <% include ../../templates/header.ejs %>
  <body>
    <div id="maincontent">
      <h1 id="subtitle">Application Details</h1>

        <a id="submenu" href="/wificity/applications/<%=application._id%>/edit">EDIT</a>



        <ul>
          <li> owner: <%=application.owner%></li>
          <li> color: <%=application.color%></li>
          <li> transceiver(s): <%=application.transceivers%></li>
        </ul>
        <form action="/wificity/applications/deleteapplication/<%=application._id%>?_method=DELETE" method="POST">
          <input id="submenu" type="submit" value="DELETE"/>
        </form>
      </div>
      <div class="bottombar"></div>
  </body>
</html>
