<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>

         <% include ../../templates/header.ejs %>

         <div id="maincontent">
           <h1 id="subtitle"> Edit Transceiver  </h1>
    <form id="subtitle" action="/wificity/transceivers/<%=transceiver.id%>?_method=PUT" method="Post">
      type: <input type="text" name="type" value="<%=transceiver.type%>"/><br/>
      model: <input type="text" name="model" value="<%=transceiver.model%>"/><br/>
      wirelessRange: <input type="text" name="wirelessRange" value="<%=transceiver.wirelessRange%>"/><br/>
      power: <input type="text" name="power" value="<%=transceiver.power%>"/><br/>
      latitude: <input type="text" name="latitude" value="<%=transceiver.latitude%>"/><br/>
      longitude: <input type="text" name="longitude" value="<%=transceiver.longitude%>"/><br/>
      <input id="submenu" type="submit" name="" value="Submit Changes" />
    </form>
    <IMG class="thumbnails" SRC="/images/Dish.png" ALIGN=”right” />
  </div>
  <div class="bottombar">GA WDIR - Project 2</div>
</body>
</html>
