<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>WiFi City</title>
  </head>
  <body>

         <% include ../../templates/header.ejs %>

      <div class="maincontent">
    <h1> Edit Transceiver  </h1>
    <form action="/wificity/transceivers/<%=transceiver.id%>?_method=PUT" method="Post">
      type: <input type="text" name="type" value="<%=transceiver.type%>"/><br/>
      model: <input type="text" name="model" value="<%=transceiver.model%>"/><br/>
      wirelessRange: <input type="text" name="wirelessRange" value="<%=transceiver.wirelessRange%>"/><br/>
      power: <input type="text" name="power" value="<%=transceiver.power%>"/><br/>
      location: <input type="text" name="location" value="<%=transceiver.location%>"/><br/>
      <input type="submit" name="" value="Submit Changes" />
    </form>
  </div>
  <div class="bottombar"></div>
</body>
</html>
